.service {
  padding: 4rem 1rem;
  background-color: var(--bgb);

  .container {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    .ServiceCard {
      background-color: var(--bgsb);
      padding: 2rem;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      gap: 2.5rem;
      border-radius: 1rem;
      transition: all 0.6s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: #9e9e9e3a;
      }
      h3 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.3;
      }
      p {
        font-size: 1.4rem;
        line-height: 1.5;
      }
      button {
        padding: 0;
        white-space: nowrap;
        font-weight: 500 !important;
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 1200px) {
  .service {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 768px) {
  .service {
    padding: 3rem 1rem;
    
    .container {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }
}

